/* Container */
.user-login-section {
  top: 44px;
  position: sticky;
  height: calc(100dvh - 92px);
  width: 380px;
}
.user-login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #e7e7e7;
    float: right;
    height: calc(100vh - 52px);
    position: relative;
    top: -44px;
    z-index: 9000;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.15); /* Left and bottom shadow */
}

  .user-login-box {
    background-color: #405a55;
    padding: 0 12px;
    padding-bottom: 12px;
    border-top-left-radius: 16px;
  }
  .user-login-basic-form {
    padding: 16px 0 14px;
  }
  .user-login-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
  /* Input Fields */
  .input-group {
    margin-bottom: 8px;
    width: 90%;
    text-align: left;
  }

  .user-login-input {
    width: 100%;
  }
  
  .input-field {
    border: 0;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 400;
    height: 28px;
    line-height: 18px;
    padding-left: 8px;
    width: 90%;
  }
  .input-field:focus {
    background-color: #fffbe6 !important;
    border: none;
    outline: none;
  }
  
  /* Button */
  .user-login-btn {
    align-items: center;
    background: #fecf13;
    border-radius: 30px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    height: 30px;
    margin-top: auto;
    margin-bottom: 8px;
    min-width: 90px;
    border: none;
  }
  
  .user-login-btn:hover {
    background-color: #d98f00;
  }
  
  /* Extra Links */
  .extra-links {
    color: #fff;
    line-height: 13px;
    margin-left: -12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .extra-links a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    padding: 0 12px;
  }
  
  .extra-links a:hover {
    text-decoration: underline;
  }

.user-login-manage {
    font-size: 14px;
    font-weight: 500;
    padding: 16px 12px;
    background-color: white;
    border-bottom-left-radius: 16px;
}
.manage-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 28px;
}
.manage-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.manage-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white !important;
    font-size: 15px;
    height: 45px;
    border-radius: 25px;
}
.user-login-detail-container {
  display: flex;
  align-items: flex-start;
  height: 100%;
}
.user-login-error-modal {
  background-color: white;
  border-radius: 4px;
  margin: 12px 8px 0;
  padding: 20px 12px;
  position: relative;
  width: 100%;
}
.error-text {
  font-size: 12px;
}
.user-login-error-modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 24px;
}
.user-login-answer {
  margin: 0 8px ;
  width: 100%;
}
.user-login-answer-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  margin: 12px 0;
}
.user-login-answer-content {
  background-color: #fff;
  border-radius: 4px;
  padding: 16px 12px;
}
.login-question {
  /* margin-bottom: 12px; */
}
.forgot-answer {
  cursor: pointer;
  margin-bottom: 24px;
  color: #003c84;
}
.login-answer-input {
  border: 1px solid #757575;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  line-height: 14px;
  padding-left: 12px;
  width: 100%;
  margin: 12px 0;
}
.login-answer-input:focus {
  background-color: #fffbe6 !important;
  outline: none;
}
.login-cancel-btn, .login-ok-btn {
  align-items: center;
  border-radius: 24px;
  cursor: pointer;
  display: flex;
  font-weight: 400;
  justify-content: center;
  padding: 8px 10px;
  width: 80px;

}
.login-cancel-btn {
  background-color: #003c84 !important;
  color: #fff !important;
}
.login-ok-btn {
  background-color: #fecf13 !important;
}
.question-error-div {
  color: #d62d2d;
  margin-bottom: 12px;
  line-height: 16px;
}
.question-error-link {
  color: #61a06f;
  text-decoration: none;
}

@media (max-width: 1450px) {
  .user-login-section {
    width: 300px !important;
  }
}