/* Navbar Styles */
.navbar {
    background-color: #375850;
    color: white;
    padding: 6px 24px;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 26px;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255) !important;
    white-space: pre-wrap;
  }
  
  .nav-links a:hover {
    border-bottom: 1px solid white;
  }
  .lang-switch {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  /* Language Switch */
  .lang-switch button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
  }
  .lang-switch span {
    font-size: 14px;
    line-height: 14px;
  }
  
  .lang-switch span:hover {
    border-bottom: 1px solid white;
  }
  .logout-btn {
    font-size: 16px !important;
    line-height: 16px;
  }
  .logout-btn:hover {
    border-bottom: 1px solid white;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .nav-links {
      display: none; /* Hide navigation links on small screens */
    }
  }
  