
.match-pagination {
    padding: 8px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    border-bottom: 1px solid #bdbdbd;
}
.match-white-row {
    background-color: white;
}
.match-grey-row {
    background-color: #f4f4f4;
}
.match-row {
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.match-header-row {
    padding: 8px 12px;
    font-size: 14px;
    line-height: 14px;
    color: rgb(51, 51, 51);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.match-time-wid {
    width: 140px;
}
.match-time {
    line-height: 16px;
}
.match-vertical-line {
    width: 1px;
    min-height: 50px;
    background-color: #ddd;
}
.match-id {
    width: 94px;
    text-align: center;
}
.match-tournament {
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.match-tv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.match-tvchannel {
    align-items: center;
    color: rgb(102, 102, 102);
    cursor: pointer;
    display: flex;
    font-size: 9px;
    font-weight: 700;
    height: 14px;
    justify-content: center;
    min-width: 32px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(51, 51, 51);
    border-image: initial;
    border-radius: 2px;
    white-space: nowrap;
}
.match-teams {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(64, 90, 85);
    line-height: 16px;
    width: 420px;
}
.match-teams-wid, .match-header-teams-wid {
    width: 80px;
}
.match-header-teams-wid {
    padding-left: 24px;
}
.match-teams-flex {
    padding: 8px 12px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(64, 90, 85);
    line-height: 16px;
    font-weight: 500;
}
.match-inplay, .match-header-inplay {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 15px;
}
.match-header-inplay {
    justify-content: right;
    margin-right: 0;
}
.match-odd {
    width: 300px;
    color: rgb(64, 90, 85);
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    line-height: 14px;
    padding: 8px 12px;
    gap: 16px;
}

.custom-checkbox input {
    display: none; 
}

.custom-checkbox span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 2px;
}

/* When checked */
.custom-checkbox input:checked + span {
    background-color: #00c06c;
    color: white;
    position: relative;
    border: 1px solid #00c06c;
}

/* Add checkmark */
.custom-checkbox input:checked + span::after {
    content: "✔";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
}
.match-list-icon {
    cursor: pointer;
}
/* .match-list-icon:hover img {
    filter: invert(100%) sepia(0) saturate(0) hue-rotate(350deg) brightness(137%) contrast(101%);
} */
.match-header-odd {
    width: 300px;
    color: rgb(51, 51, 51);
    font-weight: 500;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.match-header-odd-flex {
    display: flex;
    align-items: center;
    gap: 50px;
}
.match-header-hor-line {
    width: 250px;
    height: 1px;
    background-color: #bdbdbd;
    margin: 6px 0;
}
.match-date-header {
    background-color: #405a55;
    border-radius: 4px 4px 0 0;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    height: 34px;
    padding-left: 12px;
    display: flex;
    align-items: center;
}
.match-date-header-arrow {
    margin-right: 6px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #569171;
    display: flex;
    justify-content: center;
    align-items: center;
}
.match-date-header-arrow-img {
    filter: invert(100%) sepia(0) saturate(0) hue-rotate(350deg) brightness(137%) contrast(101%);
}
.match-score-div {
    background-color: #ffd505;
    border-radius: 2px;
    width: 18px;
}
.match-score {
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 700;
    height: 18px;
}
.match-no-odd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    line-height: 18px;
    width: 300px;
    padding: 8px 12px;
}
.match-no-odd-black {
    cursor: pointer;
    color: rgb(64, 90, 85);
}
.match-no-odd-red {
    cursor: pointer;
    color: #e10004;
}
.match-corner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.match-status {
    font-weight: 400;
    margin: 0 5px;
}
.match-odd-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.match-add-bottom {
    padding: 8px 0;
    background-color: hsla(0, 0%, 100%, 0.95);
    border-radius: 4px;
    box-shadow: 
        0px -4px 6px rgb(0 0 0 / 5%), /* Top shadow */
        0px  4px 6px rgb(0 0 0 / 5%);
    display: flex;
    justify-content: end;
    position: sticky;
    bottom: 20px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Initially hidden */
.match-add-bottom.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
}

/* Show when scrolled */
.match-add-bottom.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.match-add-bottom-btn {
    align-items: center;
    background: #fecf13;
    border-radius: 30px;
    color: #333;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    font-weight: 500;
    height: 28px;
    justify-content: center;
    line-height: 14px;
    margin-right: 12px;
    width: 100px;
}
.match-add-bottom-btn:hover {
    background-color: #d98f00;
}

.match-team-tv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.match-text {
    margin: 16px 8px 24px;
}
.match-text-link {
    color: #61a06f;
}
.match-text-link:hover {
    color:#00c06c;
}






@media (max-width: 1550px) { 
    .match-odd-block {
        gap: 4px !important;
    }
    .match-odd {
        gap: 8px !important;
    }
}
@media (max-width: 1450px) { 
    .match-odd, .match-no-odd {
        width: auto !important; 
    }
    .match-odd-block {
        display: block !important;
    }
    .match-team-tv {
        display: block;
        gap: 5px;
    }
    .match-tv {
        align-items: flex-start;
    }
}