.record-header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003c84;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.record-header-tabs {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.record-header-tab {
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-bottom: 4px solid transparent;
}
.record-header-tab.active {
    color: #003c84;
    border-bottom: 4px solid #fecf13;
}
.record-info-header {
    display: flex;
    justify-content: space-between;
    background-color: #fff7d5;
    color: #333;
    height: 60px;
    align-items: center;
}

.record-info-item {
    border-left: 1px solid #333;
    padding-left: 5px;
    font-weight: 500;
}

.balance {
    color: #003c84; /* Dark blue for balance */
}
.record-info-container-header {
    align-items: center;
    display: flex;
    font-weight: 700;
    height: 50px;
    justify-content: space-between;
    padding: 0 10px;
    position: sticky;
}
.record-info-container-date {
    font-weight: 700;
}
.record-info-container-button {
    align-items: center;
    border-radius: 14px;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 28px;
    justify-content: center;
    width: 100px;
    background-color: #003c84;
}
.record-info-container-button:hover {
    background-color: #01316a;
}
.record-info-container-content {
    display: flex;
    justify-content: center;
    padding: 8px;
}
.record-info-sec {
    background-color: rgba(0,0,0,.5);
    height: calc(100vh - 180px);
}
.record-info-search {
    position: absolute;
    background-color: #fff;
    padding: 15px 0;
    width: 100%;
}
.record-info-search-top {
    padding-bottom: 12px;
}

.date-picker-container {
    padding: 12px 28px;
    border-bottom: 1px solid #ccc;
}

.date-input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #757575;
    cursor: pointer;
    font-weight: 400;
}

.date-picker-popup {
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 10;
    background: white;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.date-display {
    color: #003c84;
}

.confirm-btn {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-btn:hover {
    background-color: #002244;
}
.record-search-btn-div {
    display: flex;
    justify-content: flex-end;
    padding: 12px 28px;
}
.record-search-btn {
    align-items: center;
    background: #fecf13;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;
    height: 28px;
    justify-content: center;
    margin-top: auto;
    min-width: 84px;
}
.record-search-btn:hover {
    background-color: #e4b910;
}
